/* order of these files is important and should not be changed */

@import 'icons/extension-icons.css';
@import "window-controls/wc-without-tabline.css";
@import 'hide-tabline.css';
@import "userChrome-hover.css";

:root {
  --dark-0: #242424;
  --dark-base: #282828;
  --dark-1: #383838;
  --dark-2: #424242;
  --dark-3: #575757;
  --dark-4: #616161;
  --light-0: #F8F2E3;
  --light-base: #ebdbb2;
  --light-1: #F5D994;
  --light-2: #F7D57D;
  --light-3: #FBD065;
  --light-4: #00CD4C;
  --accent: #8ec07c;
  --yellow: #dbc074;
  --green: #5cb8a7;
  --red: #c94f6d;
  --extension-icon-mask: grayscale(85%) invert(31%) sepia(6%) saturate(17%) hue-rotate(340deg) brightness(103%) contrast(93%);
  /* expanded width of the sidebar.
    used for userChrome-static, and hover */
  --sidebar-width: 250px;
  /* initial width of the sidebar.
    advised not to change since tst css relies on this value*/
  --sidebar-collapsed-width: 60px;

  --dividers: 2px;

  --tl-animation-duration: 200ms;
  /*--tl-tab-background-gradient: */
  /* uncomment and add gradient value for selected tab gradient*/

  /******WINDOW CONTROL PLACEMENT VARS******/
  /* larger value moves window controls down,*/
  /* can be negative(moves controls up) */
  /* 55px if tabline visible, -25px if tabline hidden */
  --wc-vertical-shift: 15px;
  --wc-left-space: 10px; /* add space to the left of window controls*/
  --wc-right-space: 15px; /* add space to the right of window controls*/
  /* left-space shifts window-controls */
  /* if you want to shift them to the left: positive value */
  /* and if you want to shift them to the right: smaller or negative value */
  /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
  /* if you want to increase/decrease space between window-controls and navbars: */
  /* set positive/negative value for right-space*/

}
:root[privatebrowsingmode="temporary"]{
  --dark-0: #242424;
  --dark-base: #282828;
  --dark-1: #383838;
  --dark-2: #424242;
  --dark-3: #575757;
  --dark-4: #616161;
  --light-0: #5CA9AD;
  --light-base: #458588;
  --light-1: #3E777A;
  --light-2: #376A6D;
  --light-3: #305D5F;
  --light-4: #294F51;
  --accent: #d3869b;
  --yellow: #C9B336;
  --green: #36C987;
  --red: #C9365D;
  --extension-icon-mask: grayscale(85%) invert(31%) sepia(6%) saturate(17%) hue-rotate(340deg) brightness(103%) contrast(93%);
}
